.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-beetween;
    width: 90vw;
    height: 100dvh;
}

.rooms-wrapper {
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    justify-items: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    overflow-y: auto;
    scrollbar-width: none;
    /*Firefox */
}

.rooms-wrapper ::-webkit-scrollbar {
    display: none;
    /*Chrome, Safari, and Edge */
}

.devices-wrapper {
    height: auto;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 2vh;
    max-width: 675px;
}

.devices-wrapper ::-webkit-scrollbar {
    display: none;
    /*Chrome, Safari, and Edge */
}

@media screen and (min-width: 750px) {
    .dashboard-container {
        max-width: 1200px;
    }

    .rooms-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }
}