.device {
    padding-left: 2vh;
    padding-right: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 8vh;
    background: linear-gradient(to right, #66bec7, #ffffff);
    margin-bottom: 2vh;
    border-radius: 2vw;
}

.device.gray {
    background: linear-gradient(to right, #b0b0b0, #ffffff);
}

.device.gray p {
    color: #848484
}

.device-name-wrapper {
    margin: 0;
    max-width: 67%;
    overflow: hidden;
    display: block;
}

.device-ikona.no-switch {
    flex: 1 0;
}

.device-name-wrapper-no-switch {
    flex: 10 0;
    max-width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.device-name {
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    display: block;
}

.device-name.scroll {
    animation: marquee 4s linear infinite alternate;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% + 80%));
    }
}

.form-check {
    padding-top: 0;
    padding-bottom: 0;
    width: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check-input {
    padding: 0;
    margin: 0;
}

.device-ikona {
    width: 5%;
    font-size: 1.4rem;
}

.device-ikona.gray {
    color: gray;
}