.pref-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-bottom: 2vh;
    background: var(--miniature-bg);
    border-radius: 2vw;
}

.pref {
    padding-left: 2vh;
    padding-right: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 8vh;
}

.pref-ikona {
    width: 5%;
    font-size: 1.4rem;
    flex: 2;
    color: var(--miniature-text-color);
}

.pref-name-wrapper {
    flex: 3;
    margin: 0;
    max-width: 67%;
    overflow: hidden;
    display: block;
}

.pref-name {
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    display: block;
    color: var(--miniature-text-color);
}

.description {
    font-size: 1rem;
    text-align: center;
    padding: 0 2vw 1vw 2vw;
    color: var(--miniature-text-color);
}