.quick-actions {
    margin-bottom: 2vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #fff;
    width: 90vw;
    height: auto;
    border-radius: 1vh;
}

.quick-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.quick-header div {
    width: 20.8px;
    margin-top: 1%;
    margin-left: 2%;
}

.quick-actions p {
    margin: 0;
}

.quick-header p {
    margin: 0;
    font-weight: bold;
}

.quick-header .bi-gear {
    margin-top: 0.5%;
    margin-right: 2%;
    font-size: 1.3rem;
}

.quick-ikona {
    font-size: 1.3rem;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow-y: auto;
    gap: 1rem;
    /* Firefox */
    scrollbar-width: none;
}

.actions::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    display: none;
}

.action {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.action p {
    margin: 0 0 0.2rem 0;
    font-size: 1rem;
    text-align: center;
}