.device-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    align-items: center;
}

.scrollable-container {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.room-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.room-control span {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--details-widget-text);
}

.room-devices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.room-text {
    width: 80vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--details-section-header-bg);
    color: var(--details-section-header-text);
    border-radius: 10px;
    margin-bottom: 2vh;
}