.smartBlindButtons .btn {
    margin: 0 1rem 0 1rem;
}

.smart-blind-control {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 45vh;
}

.deviceState {
    font-size: 2rem;
    font-weight: bold;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.blind-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 40%;
    background: transparent;
    outline: none;
    border-radius: 5px;
    transform: rotate(270deg);
    cursor: pointer;
}

.blind-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: linear-gradient(to right, #ffffff var(--fill-percent, 100%), #656565 var(--fill-percent, 100%));
    border-radius: 5px;
}

.blind-slider::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: linear-gradient(to right, #ffffff var(--fill-percent, 100%), #656565 var(--fill-percent, 100%));
    border-radius: 5px;
}

.blind-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 100%;
    background: #000000;
    border-radius: 10%;
    cursor: pointer;
    border: none;
}

.blind-slider::-moz-range-thumb {
    width: 10%;
    height: 100%;
    background: #000000;
    border-radius: 10%;
    cursor: pointer;
    border: none;
}